<template>
  <div>
    <br>
    <h3>จัดการข้อมูลการอบรม</h3>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="หัวข้อการอบรม"
          label-for="topics-input"
          :invalid-feedback="invalidFeedbackcompanyName"
          :valid-feedback="validFeedbackcompanyName"
          :state="statecompanyName"
        >
          <b-form-input
            id="topics"
            v-model="form.topics"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="บริษัทที่เข้าร่วม:"
          label-for="companyName"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="company"
            v-model="form.companyName"
            :options="companyOptions"
            required
          ></b-form-select>
          <b-form-group label="ประเภทการอบรม">
            <b-form-checkbox-group
              id="checkbox-group-1"
              v-model="selected"
              :options="typeOptions"
              name="flavour-1"
            ></b-form-checkbox-group>
          </b-form-group>
          <b-form-group label="วันที่" label-for="date">
            <b-form-input id="date" v-model="form.date" required></b-form-input>
          </b-form-group>
          <b-form-group label="เวลา" label-for="time">
            <b-form-input id="time" v-model="form.time" required></b-form-input>
          </b-form-group>
          <b-form-group label="จำนวนที่รับ" label-for="amount">
            <b-form-input id="amount" v-model="form.amount" required></b-form-input>
          </b-form-group>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="meetingList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลการอบรม',
      form: {
        id: -1,
        topics: '',
        companyName: '',
        date: '',
        time: '',
        amount: ''
      },
      companyOptions: [
        { text: 'Select One', value: null },
        { value: 'clicknext', text: 'Click Next' },
        { value: 'banana', text: 'Banana' }
      ],
      typeOptions: [
        { value: '1', text: 'เตรียความพร้อม' },
        { value: '2', text: 'วิชาการ' }
      ],
      meetingList: [
        {
          id: 1,
          topics: 'LINE API Workshop',
          companyName: 'Click Next',
          date: '21/01/2563',
          time: '13:00-16:00',
          amount: '120'
        },
        {
          id: 2,
          topics: 'CV+Resume',
          companyName: 'Banana',
          date: '21/01/2563',
          time: '13:00-16:00',
          amount: '120'
        }
      ],
      lastId: 3,
      fields: [
        { key: 'id', label: 'ลำดับ', class: 'text-center' },
        {
          key: 'companyName',
          label: 'ชื่อบริษัท',
          class: 'text-center'
        },
        {
          key: 'topics',
          label: 'หัวข้อการอบรม',
          class: 'text-center'
        },
        {
          key: 'date',
          label: 'วันที่',
          class: 'text-center'
        },
        {
          key: 'time',
          label: 'เวลา',
          class: 'text-center'
        },
        {
          key: 'amount',
          label: 'จำนวนที่รับ',
          class: 'text-center'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center'
        }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขข้อมูลการอบรม'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ต้องการลบข้อมูลใช่หรือไม่?', {
          title: 'ลบข้อมูลการอบรม',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deletUser(user)
          }
        })
    },
    resetModal () {
      // เพิ่มมา
      this.form = {
        id: -1,
        topics: '',
        companyName: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Push the companyName to submitted companyNames
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.meetingList.push(user)
    },
    updateUser (user) {
      const index = this.meetingList.findIndex(item => item.id === user.id)
      this.meetingList.splice(index, 1, user)
    },
    deletUser (user) {
      const index = this.meetingList.findIndex(item => item.id === user.id)
      this.meetingList.splice(index, 1)
    }
  },
  computed: {
    statecompanyName () {
      return this.form.companyName.length >= 2
    },
    invalidFeedbackcompanyName () {
      if (this.form.companyName.length > 2) {
        return ''
      } else if (this.form.companyName.length > 0) {
        return 'ชื่อต้องมีขาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackcompanyName () {
      return this.statecompanyName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือก'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
